.main-page-wrapper {
  margin: 40px 0;
  border: 1px solid var(--main-banner-bgc);

  main {
    display: flex;
    margin: 5px;

    section.section-component {
      width: calc(var(--app-width) - var(--login-form-left-side-width));
      border: 1px solid var(--main-banner-bgc);
      margin: 0 auto;
      align-items: center;
      text-align: left;

      p.section-header {
        width: 100%;
        background-color: var(--main-app-color);
        color: #fff;
        padding: 3px;
      }
    }

    .login-left-component-wrapper {
      width: var(--login-form-left-side-width);
      margin: 0 5px 0 0;
      border: 1px dashed var(--main-banner-bgc);
    }

    .login-left-component-wrapper,
    .login-page-wrapper {
      .input-container {
        input {
          border: 1px solid #666666;
          background-color: #D9DFEA;
          padding-left: 2px;
        }
      }

      .button-container {
        display: flex;
      }
    }
  }
}