.my-account-page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .info-container,
    aside {
        display: flex;
        flex-direction: row;
    }

    .info-container {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .normal-button {
            width: 50px;
        }

        aside {
            p {
                &:first-child {
                    width: 100px;
                    text-align: left;
                    margin-left: 5px;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        &.single-input {
            align-items: center;
            margin-bottom: 10px;
        }

        &.space-bottom {
            margin-bottom: 10px;
        }

        div {
            display: flex;
            flex-direction: row;

            .save-input,
            button {
                padding: 3px 10px;
                cursor: pointer;
            }

            .save-input {
                margin-right: 10px;
            }
        }

        .edit-container {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;

                &:nth-child(2) {
                    margin: 10px 0;
                }

                label {
                    width: 100px;
                    text-align: left;
                    margin-left: 5px;
                }

                .error {
                    width: 220px;
                    text-align: center;
                    color: red;
                }
            }
        }
    }
}