.contact-page-wrapper {
    &.column-with-padding {
        padding-top: 0;
    }

    p {
        padding: 20px;

        span {
            font-weight: bold;
            margin-right: 10px;
        }
    }
}