.error-message,
.success-message {
    background-color: darkred;
    color: #fff;
    padding: 5px 10px;
}

.success-message {
    background-color: #74b46f;
}

.new-profile-picture-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;

    .section-component {
        width: 100% !important;
    }

    .actual-profile-picture {
        padding: 10px;

        button {
            width: 100%;
            margin-top: 10px;
        }

        img {
            width: 100%;
        }
    }

    .picked-photo-wrapper {
        width: 100%;
        padding: 10px;

        .picture-select-container {
            height: 250px;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            p {
                color: gray;
            }
        }

        .new-picture-container {
            img {
                max-width: 100%;
            }
        }

        .options {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            margin-top: 10px;

            button {
                width: 100%;
            }
        }
    }
}