.create-party-wrapper {
    &.column-with-padding {
        padding: 5px 5px 20px;
    }

    nav {
        width: 100%;
        align-items: left;
    }

    h1 {
        margin-top: 0;
    }

    form {
        width: 350px;
        display: flex;
        flex-direction: column;

        .go-to-the-summary-button {
            padding: 3px 10px;
            cursor: pointer;
            margin: 0 auto;
        }

        .input-container,
        .date-container {
            width: 100%;
            display: flex;
            margin: 5px;

            input,
            button {
                width: 200px;
            }

            input {
                padding: 2px;
            }

            label {
                margin-right: 20px;
            }
        }

        .input-container {
            flex-direction: column;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            p {
                padding: 2px;
                color: red;
            }
        }

        .date-container {
            justify-content: space-between;
            align-items: center;

            input {
                cursor: pointer;
                text-align: center;

                &::placeholder {
                    color: white;
                }
            }
        }

        .friends-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 20px 0;

            label {
                margin: 0 0 10px 5px;
            }

            .image-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }
            }
        }

        .react-datepicker__header {
            background-color: var(--main-banner-bgc);

            .react-datepicker__current-month,
            .react-datepicker__day-name,
            .react-datepicker-time__header {
                color: #fff;
            }
        }

        .react-datepicker__time-container {
            width: 150px;

            .react-datepicker__time-box {
                width: unset !important;
            }

            .react-datepicker__time-list-item--selected {
                background-color: var(--main-banner-bgc) !important;
            }
        }
    }
}