.login-page-wrapper {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 40px 0 20px;
  }

  form {
    .input-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5px;

      input {
        width: 200px;
        margin-left: 5px;
      }
    }

    .button-container {
      padding: 20px 0;
      flex-direction: row-reverse;
      justify-content: center;
      margin-left: 60px;

      input {
        margin-right: 10px;
      }

      button,
      input {
        padding: 0 20px;
      }
    }
  }
}