.banner-wrapper {
  display: flex;
  border-bottom: 1px solid var(--main-banner-bgc);

  .logo-and-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 100px;
    background-color: var(--main-banner-bgc);

    img {
      width: 410px;
      height: 70px;
    }

    ul {
      display: flex;

      li {
        a {
          color: #fff;

          &:hover {
            color: var(--link-hover-color);
            text-decoration: none;
          }
        }
      }
    }
  }
}
