.banner-wrapper {
  display: flex;
  border-bottom: 1px solid var(--main-banner-bgc);
  background-color: var(--main-banner-bgc);

  .logo-and-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;

    ul {
      display: flex;

      li {
        padding: 0 10px;

        &:nth-child(1) {
          padding-left: 0;
        }

        a {
          color: #fff;

          &:hover {
            color: var(--link-hover-color);
            text-decoration: none;
          }
        }
      }
    }
  }
}