* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "tahoma", "arial", "sans-serif";
  font-size: var(--app-font-size);
}

:root {
  --main-app-color: rgb(59, 89, 152);
  --main-button-bgc: #538ADC;
  --main-banner-bgc: #3b5998;
  --link-color: #538adc;
  --link-hover-color: lightblue;
  --app-font-size: 14px;
  --login-form-left-side-width: 200px;
  --app-width: 800px;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--main-banner-bgc);
}

body {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

ul li {
  padding: 10px;
}

li img {
  height: 7px;
  margin: 0 8px;
}

p,
a {
  font-size: var(--app-font-size);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

button,
input {
  border: 2px solid var(--main-banner-bgc);
  border-top-color: #D9DFEA;
  border-left-color: #D9DFEA;
  border-bottom-color: #3B5998;
  border-right-color: #3B5998;
  background-color: var(--main-button-bgc);
  color: #fff;
}

button a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: calc(2 * var(--app-font-size));
}

h1.header {
  margin: 20px 0;
}

div.column-with-padding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input.field-input {
  border: 1px solid #666666;
  background-color: #D9DFEA;
  padding-left: 2px;
  color: #000;
}

input.field-input:active {
  background-color: #D9DFEA;
}

button,
input {
  outline: none;
}

button:active,
input:active {
  background-color: #4e76cc;
}

button.normal-button {
  padding: 3px 10px;
  cursor: pointer;
}