* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "tahoma", "arial", "sans-serif";
}

:root {
  --main-app-color: rgb(59, 89, 152);
  --main-button-bgc: rgb(83, 138, 220);
  --main-banner-bgc: #3b5998;
  --link-hover-color: #538adc;
}

body {
  display: flex;
  justify-content: center;
}
