* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "tahoma", "arial", "sans-serif";
  font-size: var(--app-font-size);
}

:root {
  --main-app-color: rgb(59, 89, 152);
  --main-button-bgc: #538ADC;
  --main-banner-bgc: #3b5998;
  --link-color: #538adc;
  --link-hover-color: lightblue;
  --app-font-size: 14px;
  --login-form-left-side-width: 200px;
}

body {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

ul li {
  padding: 10px;
}

p,
a {
  font-size: var(--app-font-size);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

button,
input {
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-top-color: #D9DFEA;
  border-left-color: #D9DFEA;
  border-bottom-color: #3B5998;
  border-right-color: #3B5998;
  background-color: var(--main-button-bgc);
  color: #fff;
}

button a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: calc(2 * var(--app-font-size));
}