.terms-of-use-wrapper {
    padding: 20px;

    h1 {
        text-align: center;
        margin: 0 0 20px;
    }

    div {
        padding: 10px 20px;

        p {
            padding: 10px 0;
        }
    }
}